{% extends 'layout/page.html' %}

{% block head_title %}
  {{ i18n.gettext('List of git commits') }}
{% endblock %}

{% block page_header %}
  {{ i18n.gettext('List of git commits') }}
{% endblock %}

{% block content %}
  <h1> Git commits </h1>
  <p> Please see the individual issues for associated commits</p>
{% endblock %}
<!-- SHA: 9debd651d21b3d74655e30348d2d1702c68354eb -->
<!-- vim: ts=2 sw=2 si et
-->
