<footer>
  <div class='container-fluid'>
    <hr>
    {{ i18n.gettext('A') }}
    <a href='http://www.roundup-tracker.org/'>{{ i18n.gettext('roundup') }}</a>
    {{ i18n.gettext('production') }}. 
  </div>
</footer>
<!-- SHA: 5647bf31981b7f9af8e9f0acbde9ac80d94fcda7 -->
